/*  your css code here. If applicable */
h1{
	text-align: center;
}
h2{
	text-align: center;
}
#AA
{
	background-color: rgb(255, 255, 255); 
	padding; border-radius
}
#BB
{
	background-color: rgb(255, 255, 255);
	padding; border-radius
}
body{background-color: rgb(204, 204, 204)
}
li{
	list-style-type: none;
}
a{
	text-decoration-line: none;
}
..player_one,.player_two
{
	background-color: rgb(255, 255, 255);
	padding; border-radius
}